<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Browserify with Socket.io Boilerplate</p>

    <div>Name: </div>
    <br>
    


    <div id="root">
      <div id="name_form">
        Enter desired username
        <br>
        <input type="text" id="name_field">
        <br>
        <input type="submit" id="name_submit">
      </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="./js/bundle.js"></script>
  </body>
</html>
